@keyframes moveInLeft {
    0% {
       opacity: 0;
       transform: translateX(-10rem);
    }
    80% {
       transform: translateX(2rem); /*it will go 20px to the right*/
    }
    100% {
       opacity: 1;
       transform: translate(0); /*translate 0 means it going to look exactly like it is now*/
    }
}

@keyframes moveInRight {
    0% {
       opacity: 0;
       transform: translateX(10rem);
    }
    80% {
       transform: translateX(-2rem); /*it will go 20px to the right*/
    }
    100% {
       opacity: 1;
       transform: translate(0); /*translate 0 means it going to look exactly like it is now*/
    }
}

@keyframes moveInBottom {
    0% {
       opacity: 0;
       transform: translateY(3rem);
    }
    100% {
       opacity: 1;
       transform: translate(0); /*translate 0 means it going to look exactly like it is now*/
    }
}