*,
*::after,
*::before {
   margin: 0px;
   padding: 0px;
   box-sizing: initial;
}


html {
   font-size: 62.5%; /* 10/16 = .625 i.e 62.5% */

   // @include respond(phone) {
   //    font-size: 50%;
   // }
   //700 is less then both 1200 and 900 therefore the last-declaration will apply

   @include respond(tab-land) { //width < 1200
      font-size: 56.25%; //1rem = 9px 9/16 = 56.25%
   }

   @include respond(tab-port) { //width <900
      font-size: 50%; //1rem = 8px 8/16 = 50%
   }

   @include respond(big-desktop) {
      font-size: 75%; //1rem = 12px 12/16 = 75%
   }
}

body {
   box-sizing: border-box; /*Gets rid of extra height width*/
   padding: 3rem;

   @include respond(tab-port) { //width <900
      padding: 0;
   }
}

::selection {
   background-color: $color-primary;
   color: $color-white;
}