*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: initial; }

html {
  font-size: 62.5%;
  /* 10/16 = .625 i.e 62.5% */ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  /*Gets rid of extra height width*/ }

.header {
  height: 95vh;
  /*The element will be 95% of the view port*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /*to provide a line gradient above the image*/
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*it will cut the image from bottom by providing all the four coordinates */ }

.header__logo-box {
  position: absolute;
  /*absolute works with reference with parent element i.e header */
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 3.5rem; }

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*it transforms it relative to the overall element and not  parent*/
  text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  /*back part of the animation is not visible to the user*/ }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-iteration-count: 3;
   animation-delay: 3s; */ }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem);
    /*it will go 20px to the right*/ }
  100% {
    opacity: 1;
    transform: translate(0);
    /*translate 0 means it going to look exactly like it is now*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem);
    /*it will go 20px to the right*/ }
  100% {
    opacity: 1;
    transform: translate(0);
    /*translate 0 means it going to look exactly like it is now*/ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*translate 0 means it going to look exactly like it is now*/ } }

.btn:link, .btn:visited {
  /*pseudo classes are state of the elements*/
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  /*all properties will be animated with 'all'*/
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  /*Y axis moves from top to bottom so we have to use neagtive values if we have to move up*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /*x y blur color*/ }

.btn:active {
  /*active state is when button is clicked*/
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /*x y blur color*/ }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /*absolute finds first relative element*/
  top: 0;
  left: 0;
  z-index: -1;
  /*-1 means behind the button*/
  transition: all .4s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  /*scale increases the size by 1.5 times*/
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /*this will apply annimation of 0% to the button*/ }
